.container {
  height: 100%;
  width: 100%;

  .Data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    div {
      margin: 15px;
    }

    .buttgroup {
      margin: 30px 0 5px 0;

      Button {
        margin: 5px;
      }
    }
  }
}
